---
name: tf1 test only

on:
  push:
    branches:
      - master
      - private-runner

  pull_request:
    branches:
      - master

  workflow_dispatch:

env:
  DOCKER_BUILDKIT: 1

jobs:
  vm-package-purge:
    name: purge large unneeded packages
    runs-on: ubuntu-18.04
    steps:
      # before purging sda1 has ~19G free, purge yields ~25G free
      - name: package purging
        run: |
          sudo apt purge ghc-8.8.4 ghc-8.10.3 ghc-8.6.5 azure-cli google-cloud-sdk
          sudo apt purge google-chrome-stable firefox
          sudo apt purge dotnet-sdk-5.0 dotnet-runtime-3.1 dotnet-runtime-3.0 dotnet-runtime-5.0
          sudo apt autoremove
          sudo apt clean

  pytest-tf1:
    name: PyTest TF1
    runs-on: ubuntu-18.04
    needs: vm-package-purge
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: "3.6"
      - name: Run armory TF1 docker tests
        run: |
          pip install -r requirements.txt
          version=$(python -m armory --version)
          bash docker/build-dev.sh tf1
          docker run -w /armory_dev twosixarmory/tf1:${version} pytest -s ./tests/test_docker
          docker run -w /armory_dev twosixarmory/tf1:${version} pytest -s ./tests/test_tf1
          docker run -w /armory_dev twosixarmory/tf1:${version} python \
          /opt/conda/lib/python3.7/site-packages/object_detection/builders/model_builder_tf1_test.py
